h1 
{
    text-align: center;
} 

h6
{
    font-size: 10px;
    text-align: center;
}

.title_row
{
    background-color: lightblue;
    height: 100px;
    padding-top: 20px;
}

.hangman
{
    background-color: lightcoral;
    height: 300px;
}

.attempts
{
    background-color: lightgreen;
    height: 200px;
}

.gletters
{
    background-color: lightsalmon;
    height: 200px;
}

.underScoreHTML
{
    text-align: center;
    padding-top: 15%;
    font-size: 40px;
}

.incorrectGuess 
{
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
}

.countDown
{
    text-align: center;
    padding-top: 3%;
    font-size: 40px; 
}

.reset 
{
    height: 200px;   
}

#resetButton
{
    background-color: lightsteelblue;

    text-align: center;
    font-size: 25px;
    height: 70%;
    width: 100%;
    border-radius: 50%;
    
    
}

#resetButton:hover
{
    background-color: lightcoral;
}